<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlowMeterPulseGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FlowMeterPulseGUI.Properties.Settings>
            <setting name="com_port" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="baud_rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="slave_id_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="time_interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="parity_bit" serializeAs="String">
                <value>none</value>
            </setting>
        </FlowMeterPulseGUI.Properties.Settings>
    </userSettings>
</configuration>